# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment folders
.env
.venv
env/
venv/

# VS Code and IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and database
*.log
*.sqlite3

# PyAutoGUI screenshots (if any)
screenshot*.png
